{% extends "base.html" %}

{% block content %}

<p>
    Prin ordonarea numerelor naturale înțelegem scrierea în ordine crescătoare sau descrecătoare:
    <br>
    ordonare crescătoare: numerele sunt scrise de la cel mai mic la cel mai mare;
    <br>
    ordonare descrescătoare: numerele sunt scrise de la cel mai mare la cel mai mic;
    <br>
</p>

<form method="POST">

    {% for form in forms %}
        {{ form.hidden_tag() }}
        {{ questions[loop.index0].question_text }}
        
        {% if questions[loop.index0].completed %}
            <p> {{ form.question(readonly=true) }} raspuns corect! </p>
        {% else %}
            <p>
                {{ form.question(class="form-control") }}
            </p>

            <p>
                {{ form.submit(class="btn btn-primary") }}
            </p>
        {% endif %}
    {% endfor %}

</form>


{% endblock %}