{% extends "base.html" %}

{% block content %}

<div class="container">
    <span style="white-space: pre-line">{{ text }}</span>
</div>

<br>

<div class="container">
<form method="POST">

    {% for form in forms %}
        {{ form.hidden_tag() }}
        {{ questions[loop.index0].question_text }}
        
        {% if questions[loop.index0].completed %}
            <p> {{ form.question(readonly=true) }} raspuns corect! </p>
        {% else %}
            <p>
                {{ form.question(class="form-control") }}
            </p>

            <p>
                {{ form.submit(class="btn btn-primary") }}
            </p>
        {% endif %}
    {% endfor %}

</form>
</div>


{% endblock %}