{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Clasa a 5-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 5-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 5-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 6-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 6-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 6-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 7-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 7-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 7-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 8-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 8-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 8-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Clasa a 9-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 9-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 9-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 10-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 10-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 10-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 11-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 11-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 11-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>

        <!-- Clasa a 12-a -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow hover-pop">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary fw-bold">Clasa a 12-a</h5>
                    <p class="card-text" style="font-size: 15px;">Invata materia de clasa a 12-a</p>
                    <a href="#" class="btn btn-primary">Invata</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}