{% extends "base.html" %}

{% block content %}

<div class="container">
  <form class="p-3 border rounded-4 shadow" method="POST" action="">
    <div class="form-group">
      <h3 class="card-title text-primary fw-bold pb-2 ps-2">{{ post.title }}</h3>
    </div>

    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}">
      <div class="media-body">
        <h2 class="card-title text-primary pb-2">{{ post.user.username }}</h2>

        <p class="article-content">{{ post.content }}</p>
        <div class="article-metadata">
          <small class="text-muted">{{ post.date_posted.strftime('%h-%d-%m-%Y') }}</small>
        </div>

        <!-- Flex container for buttons -->
        <div class="d-flex align-items-center mt-3">
          {% if post.user == current_user %}
            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('pages.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete post</button>
          {% endif %}
          <form class="ms-auto" method="POST" action="">
            {{ comment_form.hidden_tag() }}
            <div class="form-group">
              {{ comment_form.content(style="height:25px;") }}
              {{ comment_form.submit(class="btn btn-primary btn-sm m-1") }}
            </div>
          </form>
        </div>
      </div>
    </article>

    <!-- Group comments 2 on a line -->
    <div class="row mt-4">
      {% for comment in comments %}
        <div class="col-md-6 mb-6">
          <div class="p-3 border rounded-4 shadow">
            <div class="form-group">
              <h3 class="card-title text-primary pb-2"> {{ comment.user.username }} </h3>
              <p class="card-text" style="font-size: 15px;"> {{ comment.content }} </p>
              <small class="text-muted"> {{ comment.time_posted }}</small>
            </div>
          </div>
        </div>
        {% if loop.index % 2 == 0 %}
          </div><div class="row mt-4"> <!-- Start a new row after every two comments -->
        {% endif %}
      {% endfor %}
    </div>

    <!-- Delete modal popup -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
          </div>
          <div class="modal-body">
            <p>Sterge postarea</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
            <form action="{{ url_for('pages.delete_post', post_id=post.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Sterge Postarea">
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}