{% extends "base.html" %}

{% block content %}

<style>
    .row{
        box-shadow: 0 8px 8px 0 rgb(0, 0, 0, 0.5);
        transition: 0.3s;
        border-radius: 10px;
        background-image: linear-gradient(to bottom , rgba(1, 207, 231, 0.2), rgba(1, 155, 255,0.3));
        width: 100%;
    }

    .row:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    }

    .container {
        padding: 32px 8px;
    }

    a:hover{
        box-shadow: 0 0px 8px 0 rgba(0,0,0,0.7);
    }

    pc
    {
        font-family: Verdana;
        color: white;
        text-shadow: 2px 2px 4px #000000;  
        text-align: justify;
    }
</style>

<div class="container">
    <div class="row">
        <h3>CAPITOL 1: NUMERE NATURALE</h3>
        <ul class="list-group">
            {% for lesson in lessons %}

            {% if lesson.id < 4 %}
                <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=lesson.id) }}" class="list-group-item list-group-item-action">
                    {{lesson.title}}
                </a>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
        
</br>

    <div class="row">
        <h3>CAPITOL 2: DIVIZIBILITATEA numerelor naturale</h3>
        <ul class="list-group">
            {% for lesson in lessons %}

            {% if lesson.id >= 4 and lesson.id < 8%}
                <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=lesson.id) }}" class="list-group-item list-group-item-action">
                    {{lesson.title}}
                </a>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
    </br>

    <div class="row">
        <h3>CAPITOL 3: FRACȚII ORDINARE:</h3>
        <ul class="list-group">
            {% for lesson in lessons %}

            {% if lesson.id >= 8 and lesson.id < 11 %}
                <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=lesson.id) }}" class="list-group-item list-group-item-action">
                    {{lesson.title}}
                </a>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
    </br>

    <div class="row">
        <h3>CAPITOL 4: FRACȚII ZECIMALE:</h3>
        <ul class="list-group">  
            {% for lesson in lessons %}

            {% if lesson.id == 11%}
                <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=lesson.id) }}" class="list-group-item list-group-item-action">
                    {{lesson.title}}
                </a>
            {% endif %}

            {% endfor %}
        </a>
        </ul>
    </div>

    </br>
</div>

{% endblock %}