{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>CAPITOL 1: NUMERE NATURALE</h3>
        <ul class="list-group">
            <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=1) }}" class="list-group-item list-group-item-action">
                Compararea si ordonarea numerelor naturale
            </a>

            <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=2) }}" class="list-group-item list-group-item-action">
                Factor comun
            </a>

            <a href="{{ url_for('learn.lessons', page_id=5, capitol_id=1, lesson=3) }}" class="list-group-item list-group-item-action">
                Puteri
            </a>
          </ul>
    </div>

    <br>

    <div class="row">
        <h3>CAPITOL 2: DIVIZIBILITATEA NUMERELOR NATURALE</h3>
    </div>

    <h1> Continut nou in curand! </h1>
</div>

{% endblock %}