{% extends "base.html" %}

{% block content %}

<div class="container-xl px-4 mt-5" style="background: linear-gradient(white, #e5ecff); border-radius: 10px;">
    <div class="row align-items-stretch">
        <div class="col-xl-4 d-flex flex-column">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 shadow rounded-3 flex-grow-1">
                <div class="card-header text-center fw-bold text-light py-3" style="background-color: #4e81d7;">
                    <i class="bi bi-file-person"></i> Poza de Profil
                </div>
                <div class="card-body text-center p-4">
                    <!-- Profile picture image-->
                    <img class="rounded-circle account-img mb-3 border border-3 border-primary" src="{{ image_file }}" alt="Profile Image" width="120">

                    <!-- Level and Experience Progress Bar -->
                    <div class="media-body ms-3">
                        <h3 class="text-secondary"> Nivel: {{ current_user.level }}</h3>
                        <div class="progress">
                            <div id="experienceBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"
                                 data-experience-percentage="{{ current_user.experience | tojson }}"></div>
                        </div>
                        <p class="text-muted">{{ current_user.experience }} experienta</p>
                    </div>

                    <!-- Upload Form -->
                    <form method="POST" enctype="multipart/form-data" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                            {{ form.picture.label(class="form-label fw-bold text-primary") }}
                            {{ form.picture(class="form-control shadow-sm") }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary w-100") }}
                        </div>
                    </form>
                </div>
            </div>

            <!-- Missions card under profile picture -->
            <div class="card mt-4 shadow rounded-3 flex-grow-1">
                <div class="card-header text-center fw-bold text-light py-3" style="background-color: #674ea7;">
                    <i class="bi bi-bell"></i> Misiuni
                </div>
                <div class="card-body p-4">
                    {% for quest in quests %}
                        <div class="mb-3">
                            <!-- Button-like quest title -->
                            <div class="btn btn-outline-secondary w-100 text-start fw-bold">
                                <i class="bi bi-exclamation-circle-fill"></i> Misiune {{ loop.index }}
                            </div>
                            <div class="my-2"></div>

                            <!-- Quest description and reward -->
                            {% if quest.completed %}
                                <p class="text-success mb-0 fw-bold">Completata, ai primit {{ quest.experience }} experienta</p>
                            {% else %}
                                <p class="text-muted mb-0">{{ quest.description }}</p>
                                <p class="text-muted"><sep class="fw-bold">Recompensa:</sep> {{ quest.experience }} experienta</p>
                                <hr class="my-4">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-xl-8 d-flex flex-column">
            <!-- Account details card-->
            <div class="card mb-4 shadow rounded-3 flex-grow-1">
                <div class="card-header text-center fw-bold text-light py-3" style="background-color: #4e81d7;">
                    <i class="bi bi-question-circle"></i> Detalii cont
                </div>
                <div class="card-body p-4">
                    {% for label, value in [('Username', current_user.username), ('Mail', current_user.email),
                                            ('Data alăturării', current_user.date_joined.strftime('%d-%m-%Y')),
                                            ('Răspunsuri corecte', current_user.correct_answers),
                                            ('Serie zilnică', current_user.streak), ('Rol', current_user.user_role)] %}
                        <div class="mb-3">
                            <label class="small mb-1 fw-bold text-primary">{{ label }}</label>
                            <div class="form-control form-control-plaintext border rounded shadow-sm px-3">{{ value }}</div>
                        </div>
                    {% endfor %}

                    <!-- Badge Display -->
                    <div class="mb-3">
                        <label class="small mb-1 fw-bold text-primary">Badge-uri (Insigne)</label>
                        <div class="form-control form-control-plaintext border rounded shadow-sm px-3">
                            {% if current_user.badges %}
                                <div class="d-flex flex-wrap gap-2">
                                    <span>
                                    {% for badge in current_user.badges %}
                                    <p>
                                        <img class="rounded-circle badge-img small-badge-img" src="{{ url_for('static', filename='badge.png') }}" alt="Badge Image">
                                        <span class="bg-success text-light fw-bold px-2 py-1 rounded-pill">{{ badge.name }}</span> <span class="text-muted">{{ badge.description }}</span>
                                    </p>
                                    {% endfor %}
                                    </span>
                                </div>
                            {% else %}
                                <p class="text-muted">Nu exista badges inca.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Most active users section -->
    <div class="row mt-4">
        <div class="col-xl-6">
            <div class="card mb-4 shadow rounded-3">
                <div class="card-header text-center fw-bold text-light py-3 bg-success">
                    <i class="bi bi-trophy"></i> Cei mai activi useri
                </div>
                <div class="card-body p-4">
                    {% for user in leaderboard_days %}
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">{{ user.username }}</span>
                            <span>{{ user.streak }} zile</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Most exercises solved section -->
        <div class="col-xl-6">
            <div class="card mb-4 shadow rounded-3">
                <div class="card-header text-center fw-bold text-light py-3 bg-success">
                    <i class="bi bi-trophy-fill"></i> Utilizatorii cu cele mai multe exercitii rezolvate
                </div>
                <div class="card-body p-4">
                    {% for user in leaderboard_answers %}
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">{{ user.username }}</span>
                            <span>{{ user.correct_answers }} exercitii</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const experience = {{ experience }};
        const totalExperience = {{ total_experience }};
        const percentage = (experience / totalExperience) * 100;
        const experienceBar = document.getElementById('experienceBar');
        experienceBar.style.width = percentage + '%';
        experienceBar.setAttribute('aria-valuenow', experience);
        experienceBar.innerText = experience + ' / ' + totalExperience;
    });
</script>

{% endblock %}
